
.banner_about img{
  width:100%;
  display: block;
}

.background_about{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 50%;
}
.background_about img{
  width: 100%;
  min-height: 100%;
  display: block;
}
.main_about{
  position: relative;
  margin-top: 50px;
  border:2px solid red;
}
.main_about> p{
  text-align: center;
  font-weight: bolder;
  text-shadow: 3px 3px 0px rgba(223, 187, 158, 0.445);
  line-height: 50px;
}
.main_about h2{
  text-align: center;
  font-weight: bolder;
  text-shadow: 3px 3px 0px rgba(223, 187, 158, 0.445);
}

.mid_about{
   max-width: 200px;
   height:100%;
   position: absolute;
   top:0;
   left:0;
   right:0;
   margin:auto;
  margin-top: 100px;
}
.movecake{
  position: sticky;
  top:0;
  z-index: 1;
}
.movecake img{
  margin-top: 50px;
   width:200px;
}
.blueline img{
  position:absolute;
  margin-top: 100px;
  left:80px;
  top:0;
  display:block;
  width:50px;
}
.main_about ul{
  max-width: 900px;
  margin:0 auto;
}
.main_about li{
  width:250px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.main_about li img{
  width: 100%;
}
.about_move img:hover{
  border-radius: 50%;
  -webkit-animation:about_move  2s infinite ; 
    
}
@-webkit-keyframes about_move{
  0%{
    transform:rotate(0deg);
  }
  30%{
    transform:rotate(60deg); 
  }
  60%{
    transform:rotate(-60deg); 
  }
  80%{
    transform:rotate(60deg); 
  }
  100%{
    transform:rotate(-60deg);
  }
}
.about1{
  margin-right: 0;
  margin-left: auto;
}
.about2{
  margin-left: 0;
  margin-right: auto;
}
.about3{
  margin-right: 0;
  margin-left: auto;
}

.main_about li p{
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 10px;
  width:100%;
  text-align: center;
  line-height: 1.6;
  color: #d87a55;
  background-color: #f3ccb6a8;
  font-size: 18px;
}
