@import url(./reset.css);
body{
    background-color: #FDF6F0;
    font-family: Microsoft JhengHei;
    font-size: 20px;
    /* background-image: url(../mainpage/memphis-colorful.png); */
}
*{
    box-sizing: border-box;
}
h2{
    font-size: 28px;
    color:#D57149;
}
h3{
    font-size: 24px;
    color:#D57149;
}
h4{
    font-size: 20px;
    color:#D57149;
}
h5{
    font-size: 18px;
    color:#D57149;
}
p{
    font-size: 16px;
    color:#D57149;
}

/* --------主選單---------- */
.header{
    height:80px;
    background-color: #f5cdb5dc;
    display:flex;
    justify-content: space-between;
}
.navimg{
    padding-left: 100px;
    width:230px;
    display:block;
}


.header ul{
    display:flex;
    padding-top: 20px;
    line-height: 1.6;
    padding-right: 30px;
    text-decoration: none;
    position: relative;
}
.header li{
    /* float:left; */
    margin-left: 50px;
}
.header a{
    display: block;
    text-decoration: none;
    color:#D57149;
    font-size: 18px;
    padding-top: 5px;
    
}
.user{
    width:40px;
    height:40px;
    background-color: #FFB085;
    border-radius: 50%;
}
.user img{
    width:30px;
    margin-left:5px;
}
.shop{
    width:40px;
    height:40px;
    background-color: #FFB085;
    border-radius: 50%;
}
.shop img{
    width:30px;
    margin-left:5px;
}
.nav_a a:hover{
    color:#90AACB;
    border-bottom: 5px dotted #F0C3A7;
}

/* --------子選單------------ */
.header ol{
  position: absolute;
  z-index: 1;
  left: 230px;
  top: 72px;

  display: none;
 
}

.header ol>li>a{
    display: block;
    line-height: 40px;
    width: 100px;
    text-align: center;
    color: #D57149;
    background-color: #F8E2CF;
    text-decoration: none;
    
}
.header ul > li:hover ol{
    display: block;
  }
/* ---------頁尾------------ */

.footer{
    /* padding: 30px; */
    background-color: #F0C3A7;
    display: flex;
    justify-content: space-between;
   
}
.footerimg{
    width:150px;  
    margin-left: 100px;
    
}
.footer ul{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-right: 100px;
}
.footer li{
    margin-left:20px;
}
.footer a{
    text-decoration: none;
    display: block;
    font-size: 16px;
    color:#fff;
}
.line{
    width:40px;
    height:40px;
    background-color: #FCD8D4;
    border-radius: 50%;
}
.line img{
    width:30px;
    margin-left:5px;
    margin-top:5px;
}
.ig{
    width:40px;
    height:40px;
    background-color: #FCD8D4;
    border-radius: 50%;
}
.ig img{
    width:30px;
    margin-left:5px;
    margin-top:5px;
}
.mail{
    width:40px;
    height:40px;
    background-color: #FCD8D4;
    border-radius: 50%;
}
.mail img{
    width:30px;
    margin-left:5px;
    margin-top:5px;
}