@import url(./reset.css);

body{
    background-color: #FDF6F0;
    font-family: 'Microsoft JhengHei','sans-serif';
    font-size: 20px;
}
*{
    box-sizing: border-box;
}
h2{
    font-size: 28px;
    color:#D57149;
    text-shadow: 3px 3px 0px rgba(223, 187, 158, 0.445);
}
h3{
    font-size: 24px;
    color:#D57149;
}
h4{
    font-size: 20px;
    color:#D57149;
}
h5{
    font-size: 18px;
    color:#D57149;
}
p{
    font-size: 16px;
    color:#D57149;
}
/* --------主選單---------- */
header{
    position: sticky;
    top:0;
    z-index: 999;
    width:100%;
}
.header{
    height:80px;
    position: relative;
    background-color: #f0c9b2;
    display:flex;
    justify-content: space-between;
    
}

.navimg{
    padding-left: 100px;
    width:220px;
    display:block;
    padding-top: 5px;
}
.navimg:hover{
    transform: scale(1.1);
}
.header ul{
    display:flex;
    text-decoration: none;
    position: relative;
    height:100%;
}
.header li{
    width:100px;
    height: 100%;
    margin:0 auto;

}
.header a{
    text-decoration: none;
    color:#D57149;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
}
.user i{
    font-size: 30px;
    color:#f09963;
    margin-left: 50px;
}

.shop i{
    font-size:30px;
    color:#f09963;
    margin-right: 30px;
}
.user hover:i{
    color:#7e9fca;
}

.shop hover:i {
    color:#7e9fca;
}

.shop:hover .float_cart {
    display: block;
}

.shop span{
    position: absolute;
    z-index: 5;
    font-size: 12px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background-color: #e0835e;
    border-radius: 10px;
    color: white;
    right: 40px;
    top: 16px;
}
.nav_a>a:hover{
    color:#90AACB;
}
/* ------旁邊社群紐------ */
.right_social{
    position: fixed;
    right: 20px;
    bottom:100px;
    width: 50px; 
    z-index: 1;
}
.right_social a{
    display: block;
}
.right_social i{
    color:#f09963;
    font-size: 40px;
    margin-top: 10px;
}
.right_social i:hover{
    color:#90AACB;
}

/* --------子選單------------ */
.header ol{
  position: absolute;
  z-index: 1;
  right: 300px;
  top: 60px;
  display: none;
  background-color: #f5ceb5e1;

}
.header ol>li>a{
    display: block;
    line-height: 50px;
    width: 100%;
    text-align: center;
    color: #D57149;
    text-decoration: none;
}
.header ol>li>a:hover{
    color:#90AACB;
    transform: scale(1.2);
}
.header ul > li:hover ol{
    display: block;
  }

  /* -----浮動購物車--------- */
.float_cartmain{

}

.float_cart_up{
    position: absolute;
    right:0px;
    top:0px;
    height:100px;
}
.float_cart{
    position: absolute;
    right:0px;
    top:60px;
    z-index: 9;
    display:none;
    background-color: rgba(255, 255, 255, 0.973);
    height:200px;
    width:400px;
}
.float_cart ul{
    display:flex;
    width: 400px;
    height: 100px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.973);
    padding: 10px 0 10px 10px;
    /* display:none; */
}
.float_cart li{
    flex-grow: 1;
    height: 100%;
    margin: 0 auto;
    line-height: 80px;
}
.float_cart img{
    width:100%;
    height: 100%;
}
.float_cart h5{
    text-align: center;
    font-size: 16px;
}
.float_cart i{
    margin: 0 auto;
    font-size: 20px;
    color:#D57149;
}
.float_cart i:hover{
    color: #90AACB;
}
.to_cart{
    background-color: rgba(255, 255, 255, 0.973);
    padding-top: 200px;
}
.to_cart a{
    text-decoration: none;
    width:100%;
    line-height: 60px;
    color:#fff;
    display: block;
    margin: 0 auto;
    background-color: #90AACB;
    text-align: center;
    font-size: 16px;
}
.to_cart a:hover{
    background-color: #F0C3A7;
}
/* -----漢堡--------- */
.hamburger{
    display: none;
}

/* -----漢堡列------ */
.nav_ham{
    display: flex;
    background-color: #f0c9b2;
    width: 100%;
    display: none;
    z-index: 9999;
}
.nav_ham a{
    width: 120px;
    display: block;
    padding: 5px;
    margin: auto;
}
.nav_ham img{
    width: 100%;
    display: block;
}
.ham_btn{
    display:inline-block;
}

/* -----漢堡紐------- */
.hamburger_icon{
    border:2px solid #F0C3A7;
    width:44px;
    height:44px;
    border-radius: 50%;
    background-color: #ebb797;
    position: relative;
    cursor: pointer;
    margin: 10px 10px 0 0;   
}
.hamburger_icon span.-hr{
    height:3px;
    width:70%;
    background-color: #e0835e;
    display: inline-block;
    position: absolute;
    left:6px;
    top:0;
    bottom:0;
    right:0;
}
.hamburger_icon span.-top{
    top:25%;
}
.hamburger_icon span.-middle{
    top:50%;
}
.hamburger_icon span.-bottom{
    top:75%;
}

.hamburger_icon.-on span.-top{
    transform: rotate(45deg);
    left: -1px;
    top: 20px;
    width: 105%;
}
.hamburger_icon.-on span.-middle{
    display:none;
}
.hamburger_icon.-on span.-bottom{
    transform: rotate(-45deg);
    left: 0px;
    top: 20px;
    width: 105%;
}
.header_button_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}
.header_button span{
    width: 100px;
    height:50px;
    background-color: #e0835e;
}

/* ---------頁尾------------ */

.footer{
    background-color: #F0C3A7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border:2px solid pink;
    z-index: 999;
}
.footerimg{
    width:150px;  
    margin:0 auto;
    margin-left: 100px;
    padding: 10px;
}
.footerimg:hover{
    transform: scale(1.1);
}
.footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.footer li{
    width:120px;
    line-height: 80px;
    text-align: center;
    margin-top: 10px;
}
.footer a{
    text-decoration: none;
    display: block;
    font-size: 16px;
    color:#fff;
}
.footer a:hover{
    color:#90AACB;
}
.footer i{
    font-size: 30px;
    color: #e0835e;
}

.footer i:hover{
    color:#90AACB;
}


@media (max-width: 575.98px){
    .nav_ham{
        width: 100%;
        display: flex;
    }
    .nav_ham img{
        width: 100px;
        margin: 5px auto;
        transform: translateX(27px);

    }
    .hamburger_icon{
        margin: 10px 10px 10px 0;   
    }
    .header{
        display: none;
    }
    .right_social{
        right:-15px;
    }
    .right_social i{
        font-size: 25px;
    }
    .footer{
        background-color: #F0C3A7;
        display: flex;
        flex-direction: column;
        
    }
    .footerimg{
        width:100px;
        margin-top: 20px;
        margin-left: 0;
        
    }
    .footer li{
        width:60px;
        line-height: 60px;
    }
    .footer a{
        font-size: 14px;
    }
      /* -----漢堡------ */
    .hamburger{
        max-height: 0px;
        display: block;
        overflow: hidden;
        background-color: #f0c3a7da;
        position: absolute; 
        left: 0;
        right:0;
        transition: max-height 2.4s;
        top: 70px;
        z-index: 99;
    }
    .hamburger ul{
        display: flex;
        flex-direction: column;
        height:100%;
        margin-bottom: 20px;
    }
    .hamburger li{
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .hamburger a{
        text-decoration: none;
        color: #D57149;
        font-size: 20px;
        font-weight: bolder;
    }
    .hamburger i{
        color:#e0835e;
        font-size: 30px;
        margin: 0 auto;
        margin: 0 5px;
    }
    .menu-show .hamburger{
    max-height: 500px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px){
    .nav_ham{
        width: 100%;
        display: flex;
    }
    .header{
        display: none;
    }
    .right_social{
        right:-15px;
    }
    .right_social i{
        font-size: 30px;
    }
    .footer{
        width:100%;
        background-color: #F0C3A7;
        display: flex;
        flex-direction: column;
        
    }
    .footerimg{
        width:120px;
        margin-top: 20px;
        margin-left: 0;
        
    }
    .footer li{
        width:70px;
        line-height: 70px;
        text-align: center;
    }
      /* -----漢堡------ */
      .hamburger{
        max-height: 0px;
        display: block;
        overflow: hidden;
        background-color: #f0c3a7da;
        position: absolute; 
        left: 0;
        right:0;
        transition: max-height 2.4s;
        top: 65px;
        z-index: 99;
    }
    .hamburger ul{
        display: flex;
        flex-direction: column;
        height:100%;
        margin-bottom: 20px;
    }
    .hamburger li{
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .hamburger a{
        text-decoration: none;
        color: #D57149;
        font-size: 20px;
        font-weight: bolder;
    }
    .hamburger i{
        color:#e0835e;
        font-size: 30px;
        margin: 0 auto;
        margin: 0 5px;
    }
    .menu-show .hamburger{
    max-height: 500px;
    }
}
@media screen and (min-width:768px) and (max-width:991.98px){
    .header{
        width:100%;
    }
    .shop span{
        right:30px;
    }
    .header li{
        width:80px;
    }
    .header ol{
        right: 240px; 
    }
    .header ol>li>a{
        font-size: 18px;
    }
    .right_social{
        right:-15px;
    }
    .right_social i{
        font-size: 35px;
    }
    .footer li{
        width:70px;
    }
    .footerimg{
        width:120px;
        margin-left: 0;
        
    }

  }
  @media screen and (min-width:992px) and (max-width:1199.98px){
    .right_social{
        right: -10px;
    }
    .float_cart{
        right:0px;
        top:60px;
    }
    .footer{
        width:100%;
        
    }
    .footerimg{
        width:120px;
        margin-left: 0;
        
    }
    .footer li{
        width:80px;
    }
  }
  @media screen and (min-width:1200px) and (max-width:1399.98px){
    .footer{
        width:100%;
        
    }
    .footerimg{
        width:120px;
        margin-left: 0;
        
    }
    .footer li{
        width:100px;
        line-height: 80px;
        text-align: center;
    }
  }
 