/* -------購物車--------- */
.banner_cart{
    margin-top: 50px;
    text-align: center;
    font-weight: bolder;
    text-shadow: 3px 3px 0px rgba(223, 187, 158, 0.445);
}
.banner_cart img{
    width:100%;
    height:500px;
    display:block;
 }
 .banner_cart h2{
    width:100%;
 }
 .banner_cart p{
    line-height: 1.6;
  }
.wrapper_cart{
    width:1200px;
    margin: 0 auto;
}
 .top_cart{
    width: 100%;
 }
 .top_cart ul{
     display: flex;
     justify-content: center;
     margin-top: 30px;
 }
 .top_cart li{
     margin-left: 20px;
 }
 .top_cart span{
     display: block;
     width:80px;
     height:5px;
     background-color: #90AACB;
     margin-top: 5px;
 }
 .main_carttop{
    width:100%;  
 }
 .main_carttop ul{
     display: flex;
     width:100%;
     margin: 0px auto;
     margin-top: 40px;
     line-height: 2;
     background-color: #90AACB;
 }
 .main_carttop li{
     font-size: 20px;
     color:#fff;
     flex-grow: 1;
     flex-basis: 0;
     text-align: center;
 }
.main_cartmid ul{
    display:flex;
    align-content: center;
    width:100%;
    background-color: rgba(255, 255, 255, 0.726);
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 50px; 
}
.main_cartmid li{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50%;
}
.main_cartmid img{
    width:100%;
    padding: 10px;
}
}

.quantity{
    color:#D57149;
    font-size: 16px;
    border:none;
    padding:2px ;
    outline:1px solid #90AACB;
}
.quantity input:focus{
    outline: 1px solid #90AACB;
}
.main_cartmid a{
    display: block;
}
.main_cartmid{
}
.none_pro{
    width:100%;
    height: 300px;
    background-color: #D57149;
    display:none;
}
.big_text{
    width:100%;
    height: 300px;
    background-color: #D57149;
    display:block;
}
.main_cartmid i{
    color: #D57149;
}
.main_cartmid i:hover{
    color:#90AACB;
}
.main_cartmid .count{
    background-color: #F0C3A7;
    text-align: center;
    line-height: 1.8;
    width: 30px;
    height:30px;
}
.main_cartbottom ul{
    width:100%;
    background-color:rgba(255, 255, 255, 0.726);
    margin: 0 auto;
    border-top:2px dotted #FCD8D4; 
}
.main_cartbottom li{
    line-height: 1.6;
    padding:10px;
    height: 50px;
}
.main_cartbottom h5{
    margin: 0 auto;
    text-align: center;
}
.btn {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}
.btn li{
    margin-right: 10px;
    
}
.btn input{
    color:#fff;
    background-color: #90AACB;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
}

.btn input:hover{
    cursor: pointer;
    background-color: #F0C3A7;
}
.downcart{
    padding-top: 50px;
}
.downcart_produ{
    width:1200px;
}
.downcart_produ h4{
    text-align: center;
    background-color: #f5e2e0d7;
    margin: 0 auto;
    width: 100%;
    padding: 5px;
    line-height: 40px;
}

/* -----輪播------- */
:root {
    --swiper-theme-color:#D57149;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    width:70%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
}
.swiper-slide a{
    text-decoration: none;
    color: #D57149;
    margin-bottom: 50px;
    margin-top: 50px;
}
.swiper-slide img {
    position: relative;
    display: block;
    width: 70%;
    margin: 20px auto;
    height: 100%;
    object-fit: cover;
}
.swiper-slide span{
    position: absolute;
    top: 17%;
    left: 15%;
    width: 70%;
    height: 62%;
    opacity: 0;
    background: rgba(101, 101, 101, 0.6);
    text-decoration: none;
    color:#fff;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-slide span:hover{
    opacity: 1;
}


@media screen and (max-width: 575.98px){
    .wrapper_cart{
        width:320px;
    }
    .banner_cart{
        margin-top: 20px;
    }
    .banner_cart h2{
        font-size: 20px;
     }
     .banner_cart p{
        font-size: 14px;
      }
    .top_cart h4{
        font-size: 13px;
     }
     .top_cart ul{
        margin-top: 20px;
     }
     .top_cart li{
        margin-left: 5px; 
     }
     .top_cart span{
        display: block;
        width:20px;

    }
    .amount_number{
        font-size: 8px;
        width:40px;
     }
    .main_carttop li{
        font-size: 10px;
    }
    .main_cartmid h5{
        font-size: 10px;
        line-height: 1.5;
        text-align: center;
        padding: 5px;
    }
    .main_cartmid i{
        font-size: 10px;
    }
    .main_cartmid img{
        padding: 2px;
    }
    .main_cartbottom h5{
        font-size: 14px;
    }
    .btn input{
        font-size: 14px;
    }
    .downcart_produ{
        width:320px;
    }
    .downcart_produ h4{
        font-size: 18px;
    }
    .swiper-slide a{
        font-size: 16px;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767.98px){
    .wrapper_cart{
        width:550px;
    }
    .banner_cart h2{
        font-size: 24px;
        
    }
    .top_cart h4{
        font-size: 16px;
     }
     .top_cart span{
        display: block;
        width:50px;
    }
    .main_carttop li{
        font-size: 18px;
    }
    .main_cartmid h5{
        font-size: 16px;
    }
    .main_cartbottom h5{
        font-size: 18px;
    }
    .downcart_produ{
        width:550px;
    }
  }
  
  @media screen and (min-width:768px) and (max-width:991.98px){
    .wrapper_cart{
        width:700px;
    }
    .banner_cart h2{
        font-size: 24px;
    }
    .downcart_produ{
        width:700px;
    }
  }
  
  @media screen and (min-width:992px) and (max-width:1199.98px){
    .wrapper_cart{
        width:800px;
    }
    .downcart_produ{
        width:800px;
    }
  }
  
  @media screen and (min-width:1200px) and (max-width:1399.98px){
    .wrapper_cart{
        width:1000px;
    }
    .downcart_produ{
        width:1000px;
    }
  }
  
  @media screen and (min-width:1400px){

  }