/* -------購物車--------- */
.banner_cart{

}
.banner_cart img{
    width:100%;
    height:500px;
    display:block;
 }
 .banner_cart h2{
     margin-left: 50px;
     margin-top: 50px;
     text-align: center;
 }
.wrapper_cart{
    width:1200px;
    margin: 0 auto;
    border:2px solid red;
}
 .top_cart{
    width: 100%;
    border:2px solid green;
 }
 .top_cart ul{
     display: flex;
     justify-content: center;
 }
 .top_cart li{
     margin-left: 20px;
 }
 .top_cart span{
     display: block;
     width:80px;
     height:5px;
     background-color: #90AACB;
     margin-top: 10px;
 }

 .main_cart{}
 .main_carttop{
    width:100%;  
 }
 .main_carttop ul{
     display: flex;
     width:100%;
     margin: 0 auto;
     margin-top: 50px;
     line-height: 2;
     background-color: #90AACB;
 }
 .main_carttop li{
     font-size: 20px;
     color:#fff;
     margin: 0 auto;
    
 }
.main_cartmid ul{
    display:flex;
    width:100%;
    background-color: rgba(255, 255, 255, 0.726);
    margin: 0 auto;
    padding-top:50px;
    padding-bottom: 50px;
    padding-left: 10px;
    
}
.main_cartmid li{
    width:100%;
    flex-grow: 1;
 
}
.main_cartmid img{
    width:150px;
}
.main_cartmid h5{
    margin-top: 50px;
    
}
.amount_number{
    margin-top: 48px;
    color:#D57149;
    font-size: 16px;
    border:none;
    padding:2px ;
    outline:1px solid #90AACB;
}
.amount_number input:focus{
    outline: 1px solid #90AACB;
}
.main_cartmid a{
    display: block;
}

.main_cartmid i{
    margin-top:48px;
    color: #D57149;
}
.main_cartmid i:hover{
    color:#90AACB;
}
.main_cartmid .count{
    background-color: #F0C3A7;
    text-align: center;
    line-height: 1.8;
    width: 30px;
    height:30px;
}
.main_cartbottom{
    
}
.main_cartbottom ul{
    width:100%;
    background-color:rgba(255, 255, 255, 0.726);
    margin: 0 auto;
    border-top:2px dotted #FCD8D4;
    margin-bottom: 10px;
    
}
.main_cartbottom li{
    line-height: 1.6;
    margin-bottom: 5px;
    padding:10px;
    height: 50px;
}
.main_cartbottom h5{
    margin: 0 auto;
    text-align: center;
}
.btn {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}
.btn li{
    margin-right: 10px;
    
}
.btn input{
    color:#fff;
    background-color: #90AACB;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
}

.btn input:hover{
    cursor: pointer;
    background-color: #F0C3A7;
}
.downcart{
    padding-top: 50px;
}

.downcart_produ h4{
    text-align: center;
    background-color: #f5e2e0d7;
    margin: 0 auto;
    width: 100%;
    padding: 5px;
    line-height: 40px;
}
.downcart_produ ul{
    display: flex;
    width:100%;
    padding-top: 50px;
    margin: 0 auto;
    padding-left: 80px;
    padding-bottom: 50px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.726);
    border:2px solid blue;
}
.downcart_produ li{
    width:100%;
    margin-left: 30px;
    border:2px solid red;
}
.downcart_produ img{
    width:150px;
}
.downcart_produ p{
    margin-top: 20px;
}
.downcart_produ i{
    color:#F0C3A7;
    margin-top: 70px;
}
main{
    /* border:2px solid red; */
}

@media screen and (max-width: 575.98px){
    .wrapper_cart{
        width:400px;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767.98px){
    .wrapper_cart{
        width:500px;
    }
  }
  
  @media screen and (min-width:768px) and (max-width:991.98px){
    .wrapper_cart{
        width:700px;
    }
  }
  
  @media screen and (min-width:992px) and (max-width:1199.98px){
    .wrapper_cart{
        width:800px;
    }
  }
  
  @media screen and (min-width:1200px) and (max-width:1399.98px){
    .wrapper_cart{
        width:1000px;
    }
  }
  
  @media screen and (min-width:1400px){

  }