.background_faq{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 50%;
  }
  .background_faq img{
    min-height: 100%;
    width: 100%;
  }
  .banner_faq{
    margin-top: 50px;
    text-align: center;
  }
 .banner_faq h2{
     font-weight: bolder;
     text-shadow: 3px 3px 0px rgba(223, 187, 158, 0.445);
 }
 .banner_faq p{
    font-weight: bolder;
    text-shadow: 3px 3px 0px rgba(223, 187, 158, 0.445);
    line-height: 2;
 }
.faq_container{
    margin-top: 50px;
}

.faq_container ul{
    display: flex;
    width:70%;
    margin: 0 auto;
}
.faq_container li{
    margin: 0 auto;
}
.faq_container img{
    width: 80px;
    display: block;
    margin-left: 20px;

}
.faq_container a{
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color:#D57149;
    font-weight: bolder;
    font-size: 20px;
}   
.faq_container a:hover{
    color:#90AACB;
}

/* -----下方問題區塊----- */

.main_faq{
    background-color: rgba(255, 255, 255, 0.7);
    width: 1000px;
    margin:0 auto ;
}
.main_faq h3{
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;  
}
.main_faq ul{
    width:100%;
    padding-top: 10px;
    padding-bottom: 100px;
    
}
.main_faq li{
    display: flex;
    width:100%;
    padding: 30px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.678);
}
.main_faq img{
    width:50px;
}
.main_faqin{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    margin-left: 20px;
}
.main_faqin h4{
    line-height: 1.6;
}
.main_faqin p{
    font-size: 18px;
    color: #6688b4;
    line-height: 1.6;
}

@media(max-width: 575.98px){
    .banner_faq h2{
       font-size: 20px;
    }
    .banner_faq{
        width:100%;
    }
    .faq_container ul{
        width:320px;
    }
    .faq_container img{
        width:60px;
        margin-left: 12px;
    }
    .faq_container a{
        font-size: 14px;
    } 
    .main_faq{
        width:320px;
    }
    .main_faq h3{
        font-size: 18px;
    }
    .main_faqin h4{
        font-size: 16px;
    }
    .main_faqin p{
        font-size: 14px;
    }
}

  
  @media screen and (min-width: 576px) and (max-width: 767.98px){
    .banner_faq h2{
       font-size: 26px;
    }
    .faq_container img{
        width:70px;
    }
    .faq_container a{
        font-size: 18px;
    } 
    .main_faq{
        width: 550px;
    }
  }
  
  @media screen and (min-width:768px) and (max-width:991.98px){
    .faq_container img{
        width:80px;
    }
    .faq_container a{
        font-size: 18px;
    } 
    .main_faq{
        width: 700px;
    }
  }
  
  @media screen and (min-width:992px) and (max-width:1199.98px){
    .main_faq{
        width: 800px;
    }
  }
  
  @media screen and (min-width:1200px) and (max-width:1399.98px){

  }
  
  @media screen and (min-width:1400px){
 
  }