.background_faq{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 50%;
  }
  .background_faq img{
    min-height: 100%;
    width: 100%;
  }
 .banner_faq h2{
     margin-top: 50px;
     text-align: center;
 }
.faq_container{
    margin-top: 50px;
}

.faq_container ul{
    display: flex;
    width:1000px;
    margin: 0 auto;
}
.faq_container li{
    margin: 0 auto;
}
.faq_container img{
    width: 80px;
    display: block;
    margin-left: 20px;
}
.faq_container a{
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color:#D57149;
    font-size: 20px;
}   
.faq_container a:hover{
    color:#90AACB;
}

/* -----下方問題區塊----- */

.main_faq{
    background-color: rgba(255, 255, 255, 0.7);
    width: 1000px;
    margin:0 auto ;
}
.main_faq h3{
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;  
}
.main_faq ul{
    padding-top: 10px;
    padding-bottom: 100px;
}
.main_faq li{
    display: flex;
    padding: 30px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.678);
}
.main_faq img{
    width:50px;
}
.main_faqin{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    margin-left: 20px;
}
.main_faqin h4{
    line-height: 1.6;
}
.main_faqin p{
    font-size: 20px;
    color: #6688b4;
    line-height: 1.6;
}
