*{
    box-sizing: border-box;
}
/* -- -------主頁大畫面------  */

.banner{
    position: relative;
    width:100%;
    height:700px;
  }
  .banner video{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .banner h2{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    font-size: 50px;
    text-align: center;
    line-height:700px;
    font-family:Papyrus;
    font-weight: bold;
    text-transform:uppercase;
    mix-blend-mode: screen;
}
/* --------主頁品牌起源------------ */
.index_about{
    display: flex;
    width: 1000px;
    margin: 80px auto;
    position: relative;
}
.index_aboutri{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    position: relative;
}
.index_about img{
    width:10%;
    flex-grow: 1;
    padding: 100px;
    margin-right: 100px;
    display: block;
    position: relative;
}
.index_aboutri h2{
    font-size: 28px;
    font-weight: bold;
    text-shadow: 3px 3px 0px rgba(223, 187, 158, 0.445);
}
.index_aboutri h2:before{
    position: absolute;
    content: "";
    display: block;
    width: 243px;
    height: 300px;
    background-color: #f5ba96ab;
    top: 66px;
    left: -380px;
    z-index: -1;
}
.index_aboutri p{
    color: #f09963;
    width: 200px;
    margin: 0 auto;
    line-height: 1.6;
    margin-top: 30px;
}

/* -------最新消息----------- */
.index_news{
    width:1200px;
    height: 500px;
    margin: 0 auto;
    background-image: url(../mainpage/index_news.png);
    background-size: cover;
    background-position: center;
}
.index_news h2{
    color:rgb(255, 255, 255);
    text-shadow:9px 8px 0px rgba(0,0,0,0.15);
    font-size: 100px;
    text-align: center;
    line-height: 500px;
    font-family:Papyrus;
}
.index_news a{
    display: block;
    text-decoration: none;
}

/* --------主頁商品列表----------- */
.main3{
    width: 100%;
}
.main3 h2{
    text-align: center;
    margin-top: 80px;
    font-size: 28px;
    font-weight: bold;
}
.main3 ul{
    display: flex;
    width:1200px;
    margin: 0 auto;
}
.main3 li{
   margin:50px auto;
}
.main3 img{
    display:block;
    width:200px;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.main3 img:hover{
    transform: scale(1.2);
}
.main3 a{
    text-align: center;
    display:block;
    text-decoration: none;
    margin-top: 30px;
    color:#D57149;
    font-size: 20px;
}
.main3 a:hover{
    color:#90AACB;
}
 /* -----------商品輪播----------------  */
 .product_carousel{
    width: 1200px;
    display: flex; 
    margin: 50px auto;
    padding: 10px;
}
.product_carousel img{
    width:80%;
    display: block;
    margin: 0 auto;
}
.slick-prev:before, .slick-next:before {
    color:#f09963;
}
/* -------主頁ig組圖-------------- */
.main4 {
    margin-top: 50px;
    height:500px;
    background-image: url(../mainpage/ig.png);
    background-size: 100% 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}


/* ------RWD--------- */
@media screen and (max-width: 575.98px){
    .banner{
        height:320px;
    }
    .banner h2{
        font-size: 30px;
        line-height: 320px;
    }
    .index_about{
        width: 320px;
    }
    .index_aboutri h2::before{
        width: 89px;
        height: 109px;
        top: 15px;
        left: -133px;
    }
    .index_about img{
        width:45%;
        margin-right: 30px;
        padding: 30px;
    }
    .index_aboutri h2{
        font-size: 18px;
    }
    .index_aboutri p{
       font-size: 12px;
       width: 100%;
       padding-right: 10px;
    }
    .index_news{
        width:320px;
        height: 200px;
    }
    .index_news h2{
        font-size: 50px;
        line-height: 200px;
    }
    .main3 ul{
        width:320px;
    }
    .main3 h2{
        font-size: 20px;
    }
    .main3 img{
        width:80px; 
    }
    .main3 a{
        font-size: 16px;
    }
    .product_carousel{
        width: 320px;
    }
    .main4 {
        margin-top: 0;
        height:300px;
        background-size: 100% 80%;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767.98px){
    .banner{
        height:550px;
    }
    .banner h2{
        font-size: 40px;
        line-height:500px;
    }
    .index_about{
        width: 500px;
    }
    .index_aboutri h2::before{
        width: 145px;
        height: 180px;
        top: 25px;
        left: -217px;
    }
    .index_about img{
        width:50%;
        margin-right: 50px;
        padding: 50px;
    }
    .index_aboutri h2{
        font-size: 24px;
    }
    .index_aboutri p{
       font-size: 14px;
    }
    .index_news{
        width:500px;
        height:300px;
    }
    .index_news h2{
        font-size: 60px;
        line-height: 300px;
    }
    .main3 ul{
        width:550px;
        height:300px;
    }
    .main3 h2{
        font-size: 24px;
    }
    .main3 img{
        width:120px; 
    }
    .product_carousel{
        width: 500px;
    }
    .main4 {
        margin-top: 0;
        height:300px;
        background-size: 100% 90%;
    }
  }
  
  @media screen and (min-width:768px) and (max-width:991.98px){
    .banner{
        height:630px;
    }
    .banner h2{
        line-height:630px;
    }
    .index_about{
        width: 750px;
    }
    .index_aboutri h2::before{
        width: 209px;
        height: 262px;
        top: 69px;
        left: -370px;
    }
    .index_about img{
        width:50%;
    }
    .index_news{
        width:750px;
        height: 350px;
    }
    .index_news h2{
        font-size: 80px;
        line-height: 350px;
    }
    .main3 ul{
        width:700px;
    }
    .main3 img{
        width:150px; 
    }
    .product_carousel{
        width: 700px;
    }
    .main4 {
        margin-top: 0;
        background-size: 100% 90%;
    }
  }
  
  @media screen and (min-width:992px) and (max-width:1199.98px){
    .banner{
        height:650px;
      }
      .banner h2{
        line-height:650px;
    }
    .index_about{
        width: 900px;
    }
    .index_about img{
        width:30%;
    }
    .index_news{
        width:900px;
        height: 400px;
    }
    .index_news h2{
        line-height: 400px;
    }
    .product_carousel{
        margin-top:70px;
    }
    .main3 ul{
        width:900px;
    }
    .product_carousel{
        width: 900px;
    }
    .main4 {
        margin-top: 0;
        background-size: 100% 90%;
    }
  }
  
  @media screen and (min-width:1200px) and (max-width:1399.98px){
    .index_news{
        width:1000px;
    }
    .main3 ul{
        width:1000px;
    }
    .product_carousel{
        width: 1000px;
    }
  }
  
  @media screen and (min-width:1400px){
  
  }