/* ------------登入頁面-------------- */
.wrapper_login{
    display: flex;
    
}
.wrapper_login img{
    width: 50%;
    
}
.login_ri{
    background-color: #F0C3A7;
    width: 50%;
}

.login_right{
    cursor: pointer;
}
.login_ri_top{
    
}
.login_ri_top a{
    display: block;
    width:300px;
    line-height: 2;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color:#fff;
    background-color: #036EB8;
}

.login_ri_top input{
    display: block;
    width:300px;
    line-height: 2;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    background-color:#F3EEEC;
    border: none;
    color: #D57149;
    font-weight: bold;
    font-size: 14px;
}
.login_ri_mid{
    display: flex;
    width:500px;
    margin: 0 auto;
}
.login_ri_mid ul{
    
}
.login_ri_mid li{
    justify-content: center;
   margin-left: 20px;
   margin-top: 30px;
}
.login_ri_dw{
    width:200px;
    margin: 0 auto; 
}
.login_ri_dw ul{
    
}
.login_ri_dw li{
    margin-top: 50px;
    
}
.login_ri_dw img{
    width: 80px;
    margin-left: 70px;
    margin-top: 70px;
}
.signupbtn{
    width: 200px;
    display: block;
    border-radius: 5px;
    background-color: #F3EEEC;
    color: #D57149;
    border: none;
    line-height: 4;
    font-weight: bold;
    font-size: 14px;
}
.loginbtn{
    width: 200px;
    display: block;
    border-radius: 5px;
    background-color: #F3EEEC;
    color: #D57149;
    border: none;
    line-height: 4;
    font-weight: bold;
    font-size: 14px;
}
.forgotbtn{
    width: 200px;
    display: block;
    border-radius: 5px;
    background-color: #F3EEEC;
    color: #D57149;
    border: none;
    line-height: 4;
    font-weight: bold;
    font-size: 14px;
}