
.wrapper_login{
    display: flex;
    
}
.wrapper_login img{
    width: 50%;
    
}
.login_ri{
    background-color: #F0C3A7;
    width: 50%;
    padding-top: 50px;
    
}
.login_ri input:hover{
    cursor: pointer;
    
}
.login_right{
    cursor: pointer;
}
.login_ri_top a{
    display: block;
    width:300px;
    line-height: 2;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color:#fff;
    background-color: #036EB8;
}

.login_ri_top input{
    display: block;
    width:300px;
    line-height: 2;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    background-color:#F3EEEC;
    border: none;
    color: #D57149;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
}

.login_ri_dw li{
    margin-top: 50px;
}
.login_ri_top img{
    width: 80px;
    display: block;
    margin:  50px auto;
}
