.news_banner{
}
.news_banner img{
    width:100%;
    background-size:cover;
    z-index: 2;
}
.news_title{
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
}
.news_title p{
    margin-bottom: 20px;
    text-shadow: 3px 3px 0px rgba(223, 187, 158, 0.445);
}
.news_title h2{
    margin: 0 auto;
    text-shadow: 3px 3px 0px rgba(223, 187, 158, 0.445);
    display: inline-block;
}
.news_title {
    position: relative;
  }

.news_title h2:before{
    content: "";
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 44%;
    width: 50px;
    height: 50px;
    z-index: -1;
    transform: translateY(-50%);
    -webkit-animation: news_title .8s infinite;
    background-size: contain;
    background-image: url(https://i.imgur.com/rNXOBiE.png);
    background-repeat: no-repeat;
}

@-webkit-keyframes news_title{
    0%{
      top:30px;
    }
    50%{
      top:40px; 
    }
    100%{
      top:30px;
    }
  }


nav{
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}
nav ul{
    display: flex;
    width:100%;
    margin: 0 auto;
}
nav li{
    flex-grow: 1;
    text-align: center;
}
nav a{
    display: inline;
    width:100%;
    text-decoration: none;
    color:#D57149;
    padding-bottom: 5px;
}
nav a:hover{
    transform: scale(1.2);
    color: #90AACB;
    border-bottom: 4px dotted #F0C3A7;
}

.news_list{
    width:1200px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}
.news_post{
    width:350px;
    margin: 20px auto;
    background-color: hsla(22, 79%, 78%, 0.2);
    border:5px dotted #90AACB;
    text-align: center;
}
.news_list img{
    width:80%;
    margin-top: 20px;
}
.news_list a{
    padding-top:10px ;
    display: block;
    text-decoration: none;
}
.news_list h4:hover{
    color:#90AACB;
}
.news_list h3:hover{
    color:#90AACB;
}
.news_list h4{
    width:85%;
    margin: 20px auto;
    font-weight: 600;
}
.news_list h3{
    width:80%;
    margin: 20px auto;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.6;
}
.news_list img:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 575.98px){
    .news_title h2:before{
        left: 32%;
    }
    .news_title h2{
        font-size: 24px;
    }
    nav{
        width: 400px;
    }
    nav a{
        font-size: 16px;
    }
    .news_list{
        width:400px;
    }
    .news_post{
        width:180px;
    }
    .news_list h3{
        font-size: 16px;
    }
    .news_list h4{
        font-size: 16px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px){
    .news_title h2:before{
        left: 36%;
    }
    .news_title h2{
        font-size: 24px;
    }
    nav{
        width: 500px;
    }
    nav a{
        font-size: 18px;
    }

    .news_list{
        width:500px;
    }
    .news_post{
        width:220px;
    }
    .news_list h3{
        font-size: 18px;
    }
    .news_list h4{
        font-size: 18px;
    }
}

@media screen and (min-width:768px) and (max-width:991.98px){
    .news_title h2:before{
        left: 39%;
    }
    nav{
        width: 600px;
    }
    .news_list{
        width:750px;
    }
    .news_post{
        width:220px;
    }
    .news_list h3{
        font-size: 18px;
    }
    .news_list h4{
        font-size: 18px;
    }
}

@media screen and (min-width:992px) and (max-width:1199.98px){
    .news_title h2:before{
        left: 42%;
    }
    nav{
        width: 800px;
    }
    .news_list{
        width:900px;
    }
    .news_post{
        width:250px;
    }
    .news_list h3{
        font-size: 18px;
    }
    .news_list h4{
        font-size: 18px;
    }
}

@media screen and (min-width:1200px) and (max-width:1399.98px){
    .news_title h2:before{
        left: 43%;
    }
    .news_list{
        width:1000px;
    }
    .news_post{
        width:300px;
    }
}

@media screen and (min-width:1400px){

}