main{
}
main>img{
   width:100%;
   margin-bottom: 50px;
   display: block;
}
main p{
   text-align: center;
   font-weight: bolder;
   text-shadow: #FFB085 2px 3px 3px;
   line-height: 50px;
}
main h2{
   text-align: center;
   font-weight: bolder;
   text-shadow: #FFB085 2px 3px 3px;
   margin-bottom: 50px;
}
.products_list{
   display: flex;
   width:1200px;
   margin:0 auto;
   background-color: #f5c6aac0;
}
.products_list ul{
   display: flex; 
   flex-direction: column;
}
.products_list img{
   width:50%;
   display: block;
}
.products_list img:hover{
   transform-origin:0;
   transform:scale(1.2,1);
}
.products_list img:hover:nth-child(2){
   transform-origin:(0);
   transform:scale(1.2,1);
}
.products_list li{      
   text-align: center;
   align-items: center;
   padding: 0 50px;
   margin-top: 20px;
}
.products_list li:first-child{
   padding-top: 100px;
}
.products_list h2{
   font-weight: bolder;
   text-shadow: #FFB085 2px 3px 3px;
}
.products_list a{
   display: block;
   text-decoration: none;
}

.products_list p{
   line-height: 2;
   font-size: 20px;
}
.products_list1{
   background-color: #FDF6F0;
}
.products_list2{
   background-color: #FCD8D4;
}