main{
   position: relative;
   margin-bottom: 50px;
}
main>img{
   width:100%;
   margin-bottom: 50px;
   display: block;
}
main>h2{
   text-align: center;
   font-weight: bolder;
   text-shadow: 3px 3px 0px rgba(223, 187, 158, 0.445);
   margin-bottom: 50px;
}
main>p{
   text-align: center;
   font-weight: bolder;
   text-shadow: 3px 3px 0px rgba(223, 187, 158, 0.445);
   margin-bottom: 10px;
}
.background_product{
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: -1;
   opacity: 50%;
}
.background_product img{
   width: 100%;
   min-height: 100%;
 }

 .products_list_all{
    width:1000px;
    margin:0 auto;
 }
.products_list{
   display: flex;
   width:100%;
   background-color: #f5c6aac0;
   position: relative;
}
.products_list ul{
   display: flex; 
   flex-direction: column;
   justify-content: center;
}
.products_list img{
   width:50%;
   display: block;
}
.products_list img:hover{
   width: 60%;
}
.products_list img:hover+.products_list ul{

   width: 20%;
}

.products_list li{      
   text-align: center;
   padding: 0 50px;
}

.products_list h2{
   font-weight: bolder;
   text-shadow: 3px 3px 0px rgba(223, 187, 158, 0.445);
   text-align: center;
   margin-bottom: 20px;
}
.products_list a{
   display: block;
   text-decoration: none;
}
.products_list h2:hover{
   color:#90AACB;
   border-bottom: 5px dotted #eb9763d3;
   text-shadow:none;
}

.products_list p{
   margin-top: 10px;
   line-height: 2;
   font-size: 18px;
   font-weight: bold;
}
.products_list1{
   background-color: #fdf6f0bb;
}
.products_list2{
   background-color: #fcd8d4af;
}


@media screen and (max-width: 575.98px){
   main>h2{
      font-size: 20px;
   }
   main>p{
      font-size: 14px;
   }
   .products_list_all{
      width:320px;
   }
   .products_list li{      
      text-align: center;
      padding: 0 72px;
   }
   .products_list h2{
      font-size: 16px;
      margin-top: 10px;
   }
   .products_list p{
      display: none;
   }
   .products_list img{
      width:100%;
      overflow: hidden;
   }
 }
 
 @media screen and (min-width: 576px) and (max-width: 767.98px){
   .products_list_all{
      width:550px;
   }
   .products_list h2{
      font-size: 20px;
      margin-top: 10px;
   }
   .products_list p{
      font-size: 10px;
   }
 }
 
 @media screen and (min-width:768px) and (max-width:991.98px){
   .products_list_all{
      width:700px;
   }
   .products_list h2{
      font-size: 24px;
   }
   .products_list p{
      font-size: 16px;
   }
 }
 
 @media screen and (min-width:992px) and (max-width:1199.98px){
   .products_list_all{
      width:800px;
   }
 }
 
 @media screen and (min-width:1200px) and (max-width:1399.98px){

 }
 
 @media screen and (min-width:1400px){

 }