@import url(./reset.css);
body{
    background-color: #FDF6F0;
    font-family: Microsoft JhengHei;
    font-size: 20px;
    background-image: url(../mainpage/memphis-colorful.png);
}
*{
    box-sizing: border-box;
}
h2{
    font-size: 28px;
    color:#D57149;
}
h3{
    font-size: 24px;
    color:#D57149;
}
h4{
    font-size: 20px;
    color:#D57149;
}
h5{
    font-size: 18px;
    color:#D57149;
}
p{
    font-size: 16px;
    color:#D57149;
}

.header{
    width:100%;
    height: 130px;
    font-size: 24px;
   
}
/* --------主選單---------- */
.nav{
    height:100px;
    background-color: #F8E2CF;
    display:flex;
    justify-content: space-between;
}
.navimg{
    padding-left: 100px;
    padding-top: 5px;
    width:250px;
    display:block;
}


.nav ul{
    display:flex;
    padding-top: 35px;
    line-height: 1.6;
    padding-right: 30px;
    text-decoration: none;
    position: relative;
}
.nav li{
    /* float:left; */
    margin-left: 50px;
}
.nav a{
    display: block;
    text-decoration: none;
    color:#D57149;
    font-size: 18px;
    padding-top: 5px;
    
}
.user{
    width:40px;
    height:40px;
    background-color: #FFB085;
    border-radius: 50%;
}
.user img{
    width:30px;
    margin-left:5px;
}
.shop{
    width:40px;
    height:40px;
    background-color: #FFB085;
    border-radius: 50%;
}
.shop img{
    width:30px;
    margin-left:5px;
}
.nav_a a:hover{
    color:#90AACB;
    border-bottom: 5px dotted #F0C3A7;
}

/* --------子選單------------ */
.nav ol{
  position: absolute;
  z-index: 1;
  left: 230px;
  top: 72px;

  display: none;
 
}

.nav ol>li>a{
    display: block;
    line-height: 40px;
    width: 100px;
    text-align: center;
    color: #D57149;
    background-color: #F8E2CF;
    text-decoration: none;
    
}
ul > li:hover ol{
    display: block;
  }
/* ---------頁尾------------ */

.footer{
    /* padding: 30px; */
    background-color: #F0C3A7;
    display: flex;
    justify-content: space-between;
   
}
.footerimg{
    width:150px;  
    margin-left: 100px;
    
}
.footer ul{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-right: 100px;
}
.footer li{
    margin-left:20px;
}
.footer a{
    text-decoration: none;
    display: block;
    font-size: 16px;
    color:#fff;
}
.line{
    width:40px;
    height:40px;
    background-color: #FCD8D4;
    border-radius: 50%;
}
.line img{
    width:30px;
    margin-left:5px;
    margin-top:5px;
}
.ig{
    width:40px;
    height:40px;
    background-color: #FCD8D4;
    border-radius: 50%;
}
.ig img{
    width:30px;
    margin-left:5px;
    margin-top:5px;
}
.mail{
    width:40px;
    height:40px;
    background-color: #FCD8D4;
    border-radius: 50%;
}
.mail img{
    width:30px;
    margin-left:5px;
    margin-top:5px;
}
/* .nav_a a:hover{
    color:#90AACB;

} */
/* -- -------主頁大畫面------  */
.wrapper{
    position: relative;
}
.wrapper img:first-child{
    width:100%;
    height:600px;
    display:block;
}
.scroll{
    width:20px;
    
    position: absolute;
    right: 37px;
    bottom: 90px;
    z-index: 1;
}
.connet{
    background-color: #F0C3A7;
    border-radius: 50%;
    width:250px;
    height:250px;
    position: absolute;
    left: 350px;
    top: 550px;
}
.connet h4{
    margin-top:50px;
    font-size: 16px;
   line-height: 1.6;
    text-align: center;
    color:#fff;
}

/* --------主頁品牌起源------------ */
.main1{
    display:flex;
    height:500px;

}
.main1_1{
    padding-left: 350px;
    padding-top: 200px;
    text-align: center;
}
.main1 h2{
    margin-bottom: 30px;
}
.main1 p{
    margin-bottom: 20px;
}
.main1 a{
    display: block;
    color:#fff;
    font-size: 12px;
    width: 100px;
    line-height: 2.5;
    text-decoration: none;
    background-color: #90AACB;
    margin-left: 70px;
    border-radius: 5px;
}

.main1 img{
    width:500px;
   margin-left:250px;
   margin-top: 50px;
}
.main1 a:hover{
    
}

/* -------主頁最新消息-------- */

.main2{
    width: 1200px;
    height:600px;
    margin: 0 auto;
    position: relative;
}
.main2 h2{
    text-align: center;
    margin-top: 100px;
}
/* .deco1 img{
    border:2px solid red;
    position: absolute;
    left:0;
    top:0;
}
.main2 .deco2 img{
    position: absolute;
    left:0;
    top:0;
}
.main2 .deco3 img{
    position: absolute;
    left:0;
    top:0;
} */

.main2 a{
    display:block;
    font-size: 20px;
    text-align: center;
    color:#fff;
    margin-top: 50px;
    text-decoration: none;
}
.main2 a:hover{
    color:#D57149;
}
.main2 ul{
    display: flex;
    margin-top:100px;
}
.main2 li:nth-child(2){
    margin:0 auto;
    margin-right: 50px;
    background-color: #F0C3A7;
    width:300px;
    height:350px;
}
.main2 li:nth-child(3){
    margin:0 auto;
    margin-right: 50px;
    background-color: #F0C3A7;
    width:300px;
    height:350px;
}
.main2 li:nth-child(4){
    margin:0 auto;
    background-color: #F0C3A7;
    width:300px;
    height:350px;
}
.main2 img{
    display:block;
    width:200px;
   margin:0 auto;
    margin-top:20px;
}
.main2 i{
    width:100px;
    margin-left: 50px;
    margin-top: 150px;
    color:#90AACB;
}



/* --------主頁商品列表----------- */
.main3{
    width: 100%;
    height:600px;
}
.main3 h2{
    text-align: center;
    margin-top: 100px;
}
.main3 ul{
    display: flex;
    margin-top:150px;
    width:1200px;
    margin: 0 auto;
    padding-top: 70px;
    
}
.main3 li{
   margin:0 auto;
}
.main3 img{
    display:block;
    width:200px;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.main3 a{
    text-align: center;
    display:block;
    text-decoration: none;
    margin-top: 30px;
    color:#D57149
}
.main3 a:hover{
    color:#90AACB;
}

/* -------主頁ig組圖-------------- */
.main4 img{
    display: block;
    width: 100%; 
    height: 500px;
}

  /* ----------------品牌起源-------------- */
  .banner_about{
  }
 .banner_about img{
    width:100%;
    height:500px;
    display:block;
 }

 .main_about{
    position: relative;
 }
 .main_about h2{
     text-align: center;
     margin-bottom: 100px;
 }
 .mid_about{
     max-width: 200px;
     height:100%;
     position: absolute;
     top:0;
     left:0;
     right:0;
     margin:auto;
    
}
.movecake{
    position: sticky;
    top:0;
    z-index: 1;
}
 .movecake img{
    margin-top: 100px;
     width:200px;
 }
.blueline img{
    position:absolute;
    margin-top: 100px;
    left:80px;
    top:0;
    display:block;
    width:50px;
}
.main_about ul{
    max-width: 800px;
    margin:0 auto;
}
.main_about li{
    width:250px;
}
.main_about li img{
    width: 100%;
}
.about1{
    margin-right: 0;
    margin-left: auto;
}
.about2{
    margin-left: 0;
    margin-right: auto;
}
.about3{
    margin-right: 0;
    margin-left: auto;
}

.main_about li p{
    margin-left: 40px;
    margin-bottom: 50px;
    margin-top: 20px;
    padding-right: 50px;
    width:100%;
    text-align: center;
    
}

 /* ----------------商品列表---------------- */
 .banner_product{
    
 }
 .banner_product img{
    width:100%;
    height:500px;
    display:block;
 }

 .pro_main{
     padding-top:50px;
    width: 100%; 
}
.pro_main h2{
    text-align: center;
    margin-top: 100px;
}
.pro_main ul{
    display: flex;
    width:1200px;
    margin: 0 auto;
    padding-top:250px;
}
.pro_main li{
   margin:0 auto;
}
.pro_main img{
    display:block;
    width:200px;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.pro_main a{
    text-align: center;
    display:block;
    text-decoration: none;
    margin-top: 30px;
    color:#D57149;
    margin-bottom: 300px;
}
.pro_main a:hover{
    color:#90AACB;
}
.twoline{
    position:relative;
    z-index: -1;
}
.line1 span{
    position:absolute;
    width:1100px;
    height:500px;
    left: 214px;
    top: -676px;
    border: 5px solid #90AACB;
}
.line2 span{
    position:absolute;
    width:1100px;
    height:500px;
    left: 176px;
    top: -707px;
    border: 5px solid #FFB085;
    
}

/* --------------商品分類--------------- */
.banner_product1 img{
    width:100%;
    height:500px;
    display:block;
 }
 .banner_product1 h2{
     text-align: center;
     margin:0 auto;
 }
 .main_product1 {}

 .product1_all{
    display: flex;
    margin:0 auto;
    width:800px;
    padding-top: 50px;
 }
 .main_product1 img{
     width:250px;
     height:200px;
     margin-right: 80px;
     margin-top: 100px;
    margin-left: 50px;

 }
 .product1_right ul{
     width:400px;
     margin-top: 30px;
     margin-bottom: 50px;
 }
 .product1_right li{
     line-height: 1.6;
     margin: 0 auto;
     text-align: center;
     margin-top: 10px;
 }

 .product1_right h4{}
 .product1_right p{

 }
 .product1_right h3{}
 .product1_right h5{
    margin-right: 150px;
     font-size: 16px;
 }
 .product1_right .number{
     color:#D57149;
     background-color: #F4F3F2;
     border: none;
     width:60px;  
 }
 .product1_right .min{
     color:#fff;
     background-color: #90AACB;
     border: none; 
 }
 .product1_right .add{
    color:#fff;
    background-color: #90AACB;
    border: none;
    
}
.product1_right .addcart{
    color:#fff;
    background-color: #FFB085;
    border: none;  
    width:200px;
    font-size: 20px;
    line-height: 1.6;
}
.product1_right .cash{
    color:#fff;
    background-color:#FFB085;
    border: none; 
    width:200px;
    font-size: 20px;
    line-height: 1.6;
}
/* ----------------最新消息-------------- */
.banner_new{
    
    
}
.banner_news img{
    width:100%;
    height:500px;
    display:block;
 }
 .banner_news h2{
     margin-top: 50px;
     text-align: center;
 }
 .main_news{

 }
 .main_news img{
     width:200px;
     height:200px;
     float:left;
     margin-top: 50px;
     margin-left: 50px;
 }
 .main_news ul{
    width:1000px;
    margin: 100px auto;
   overflow: hidden;
    
 }
 .main_news li{
    width:800px;
    height:300px;
    background-color: #F6E0CE;
    margin-bottom: 50px;
    margin-right: 100px;
    float:right;
    
 }
 .main_news h4{
    color:#fff;
    font-size: 16px;
    margin-left: 714px;
    margin-top: 10px;
 }
 .main_news h3{
     text-align: center;
     margin-top: 30px;
     margin-bottom: 30px;
 }
.main_news p{
    text-align: center;
    margin-bottom: 30px;
}
.main_news a{
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color:#fff;
    background-color: #90AACB;
    display: block;
    line-height: 1.6;
    width:100px;
    margin-left: 680px;
    margin-top: 60px;
    border-radius: 5px;
}
.main_news a:hover{
    color:#D57149;
}
.news_dot{
    display:flex;
    margin: 0 auto;
    padding-left: 30px;
    margin-bottom: 100px;
    width:200px;
}
.news_dot span{
    background-color: #90AACB;
    width:30px;
    height:30px;
    border-radius: 50%;
    margin-left: 20px;
}

/* ------------登入頁面-------------- */
.wrapper_login{
    
}
.wrapper_login img{
    width: 100%;
}
.wrapper_login ul{
    margin: 0 auto;
    position:fixed;
    display:flex;
    padding-left: 200px;
}
.wrapper_login li{
    background-size:cover;
    width: 100%;
    flex-grow: 1;
    
}
.wrapper_login li:last-child{
    background-color: #F0C3A7;
}
.login_right{
    cursor: pointer;
}
.login_right a{
    display: block;
    width:300px;
    line-height: 2;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color:#fff;
    background-color: #036EB8;

}
.login_right input{
    display: block;
    width:300px;
    line-height: 2;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    background-color:#F3EEEC;
    border: none;
    color: #D57149;
    font-weight: bold;
    font-size: 14px;
}
.signupbtn{
    width: 200px;
    display: block;
    border-radius: 5px;
    background-color: #F3EEEC;
    color: #D57149;
    border: none;
    margin-top: 50px;
    margin-left: 180px;
    line-height: 4;
    font-weight: bold;
    font-size: 14px;
}
.loginbtn{
    width: 200px;
    display: block;
    border-radius: 5px;
    background-color: #F3EEEC;
    color: #D57149;
    border: none;
    margin-top: -58px;
    margin-left: 400px;
    line-height: 4;
    font-weight: bold;
    font-size: 14px;
}
.forgotbtn{
    width: 200px;
    display: block;
    border-radius: 5px;
    background-color: #F3EEEC;
    color: #D57149;
    border: none;
    margin-top: 30px;
    margin-left: 290px;
    line-height: 4;
    font-weight: bold;
    font-size: 14px;
}
.login_right img{
    width: 80px;
    margin-top: 55px;
    margin-left: 350px;
}
/* --------------常見問題------------- */
.banner_faq{}
.banner_faq img{
    width:100%;
    height:500px;
    display:block;
 }
 .banner_faq h2{
     margin-top: 50px;
     text-align: center;
 }
.faq_container{
    margin-top: 50px;
}

.faq_container ul{
    
    display: flex;
    width:1000px;
    margin: 0 auto;
}
.faq_container li{
    margin-left: 160px;
    
}
.faq_container img{
    width: 100px;
}
.faq_container h4{
    margin-top: 50px;
}   

.faq_main{
    background-color: #F8E2CF;
    width: 800px;
    line-height: 3;
    padding-left:200px;
    margin: 50px auto;
    
}
.faq_question{
    display:flex;
    position: relative;
}
.faq_question img{
    
    width:50px;
}
.faq_question p{
    font-size: 20px;
    margin-left: 40px;
    margin-top: 5px;
}
.faq_openbnt i{
    margin-left: 80px;
    color:#90AACB;
}

/* -------購物車--------- */
.banner_cart{
    
}
.banner_cart img{
    width:100%;
    height:500px;
    display:block;
 }
 .banner_cart h2{
     margin-left: 50px;
     margin-top: 50px;
     text-align: center;
 }

 .top_cart{
    width: 100%;
 }
 .top_cart ul{
     display: flex;
     width:1000px;
     margin: 0 auto;
     padding-left: 180px;
     padding-top: 50px;
 }
 .top_cart li{
     margin-left: 10px;
 }
 .top_cart h3{}
 .top_cart span{
     display: block;
     width:80px;
     height:5px;
     background-color: #90AACB;
     margin-top: 10px;
 }

 .main_cart{}
 .main_carttop{
    width:100%;
    
 }
 .main_carttop ul{
     display: flex;
     width:800px;
     margin: 0 auto;
     margin-top: 50px;
     line-height: 2;
     background-color: #90AACB;
 }
 .main_carttop li{
     font-size: 20px;
     color:#fff;
     margin: 0 auto;
    
 }
.main_cartmid{
    
}
.main_cartmid ul{
    display:flex;
    width:800px;
    background-color:#F6E0CE;
    margin: 0 auto;
    padding-top:50px;
    padding-left: 40px;
    padding-bottom: 50px;
    
}
.main_cartmid li{
    
    flex-grow: 1;
}
.main_cartmid img{
    width:150px;
    height:100px;
    
}
.main_cartmid h5{
    margin-top: 50px;
    
}
.main_cartmid .count{
    background-color: #F0C3A7;
    text-align: center;
    line-height: 1.8;
    width: 30px;
    height:30px;
}
.main_cartbottom{}
.main_cartbottom ul{
    width:800px;
    background-color:#F6E0CE;
    margin: 0 auto;
    padding-left: 40px;
    border-top:2px dotted #fff;
}
.main_cartbottom li{
    line-height: 1.6;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.main_cartbottom .line{}
.main_cartbottom h5{
    padding-left: 550px;
}

.downcart{
    padding-top: 50px;
}

.downcart_produ{}
.downcart_produ h4{
    text-align: center;
    background-color: #FCD8D4;
    margin: 0 auto;
    width: 800px;
    height:50px;
    padding-top: 20px;
}
.downcart_produ ul{
    display: flex;
    width: 800px;
    padding-top: 50px;
    margin: 0 auto;
    padding-left: 80px;
    padding-bottom: 50px;
    margin-bottom: 10px;
    background-color: #FCD8D4;
}
.downcart_produ li{
    
    margin-left: 30px;
}
.downcart_produ img{
    width:150px;
    margin-bottom: ;
}
.downcart_produ p{}
.downcart_produ i{
    color:#F0C3A7;
    margin-top: 70px;
}